version: '2.1'
services:
  backup:
    image: kartoza/pg-backup:latest
    volumes:
    - ./dbbackups:/backups
    network_mode: service:db
    environment:
    - POSTGRES_DBNAME=crossraods
    - POSTGRES_HOST=db
    - POSTGRES_PASS=docker
    - POSTGRES_USER=docker
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
  bot:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
    - ADMIN_ROLE_ID=
    - APPLICATION_ID=
    - DATABASE_URL=postgres://crossroads:crossroads@127.0.0.1/crossroads
    - DISCORD_TOKEN=
    - EMOJI_GUILD_ID=
    - MAIN_GUILD_ID=
    - RUST_LOG=info
    - SQUADMAKER_ROLE_ID=
    network_mode: service:db
    restart: always
  db:
    image: postgres
    volumes:
    - ./docker_db:/docker-entrypoint-initdb.d/
    - dbdata:/var/lib/postgresql
    healthcheck:
      test: exit 0
    environment:
    - ALLOW_IP_RANGE=0.0.0.0/0
    - APP_DB_NAME=crossroads
    - APP_DB_PASS=crossroads
    - APP_DB_USER=crossroads
    - POSTGRES_PASSWORD=docker
    - POSTGRES_USER=docker
    restart: on-failure
volumes:
  dbdata:
